body {
    background: url('imgs/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.pokedex {
    background-color: #e63946;
    width: auto;

}

* {
    font-family: 'Montserrat', sans-serif;
}

.emphasized {
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

.links {
    margin-top: 0.5px;
}