header {
    display: flex;
    justify-content: center;
}


body {
    background: url('imgs/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.pokedex {
    background-color: #e63946;
    width: 50%;
}